.page {
  border: 0px solid green;
  width: 100%;
  box-sizing: border-box;
  padding: 1% 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3%;
  font-family: var(--font-montserrat), sans-serif;
}

.header{
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.details{
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.loader{
  border:0px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}